/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.text-icon  .fl-module-content .storename li .address::before{
    content: "\ea7d";
    font-family: 'Ultimate-Icons' !important;
    font-size: 1.3em;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
    width: auto;
}
.fl-page{
	width: auto;
}
h1.fl-heading span.fl-heading-text,
div.fl-rich-text h1{
    text-transform: capitalize !important;
}
.text-icon .fl-module-content .fl-rich-text p{
    display:inline-block;
}
.fl-module-rich-text .fl-module-content ul.storename li .direction a{
    width: 200px; 
}
div.gform_wrapper .gfield_time_ampm select {
    max-width: 8rem!important;
    width: calc(5rem + 20px) !important;
    -webkit-appearance: none;
    background-image: url('https://assuredflooring.ca/wp-content/uploads/2020/01/drop-down-arrow.png');
    background-position: 91%;
    background-size: 8px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px;
}
div.gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
    max-width: 8rem!important;
}
.storename li .phone a span:before,
footer .storename li .phone a span:before{
    font-size: 18px;
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}
footer .storename li .phone a span:before{
    font-size: 18px !important;
    margin-right: 14px;
}
footer .storename li .phone a span{
    font-size: 16px;
    color: #7f7070;
}
footer .fl-module-content .fl-rich-text .storename li .phone a span:hover{
    color: #fff;
}
footer .storename{
    padding-left: 10px !important;
}
footer .fa-phone-alt{
    display: none;
}
.fl-module-content .storename li .address a{
    color:#b7702f;
}
.fl-module-content .storename li .address a:hover{
    color: #000;
}
.fl-module-content .fl-rich-text .message a:hover{
    color: #000;
}
.fl-module-content .fl-rich-text .storename li .phone a span:hover{
    color: #000;
}
.store-opening-hrs-container ul.store-opening-hrs li{
padding: 10px 50% 10px 10px;
list-style: none;
}
div.text,
div.number{
    display: inline-block;
}
ul.social-icons {
    text-align: center;
}
.gform_wrapper .gfield_checkbox li input[type=checkbox]{
    margin-top: 0px !important;
}
footer .storename li .phone a:before{
    content: " ";
    display: none;
}
.footermenu li.menu-item a{
    font-size: 14px;
    line-height: 20px;
}
.uabb-infobox-button .uabb-creative-button-text ~ i.ua-icon-arrow-down:before{
    font-size: 0;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn{
  transition:all 0.3s;
  -moz-transition:all 0.3s;
  -webkit-transition:all 0.3s;
  -o-transition:all 0.3s;
  -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover{
    transition:all 0.3s;
    -moz-transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -o-transition:all 0.3s;
    -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover i.ua-icon-arrow-down:before{
    font-size: 1em;
}


.footer_shortscode ul.storename {
    list-style: none;
    padding: 0 !important;
    margin: 0;
}

.footer_shortscode p {
    padding: 0 !important;
    margin: 0 !important;
}
.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    left: 0px;
    top: auto;
    padding: 5px 20px;
}
.custom_searchHeader i {
    cursor: pointer;
}


/* mega menu open*/
header .header-mega-menu .menu {
    position: static;
}
header .header-mega-menu .menu li.mega-menu {
    position: static;
}
header .header-mega-menu .menu li.mega-menu .sub-menu {
    top: inherit !important;
    left: 0 !important;
    right: 0 !important;
    width: auto !important;
    margin: 0 !important;
    background: #f5f5f5;
    border: 0;
    padding-top: 25px;
    z-index: 999;
    box-shadow: none;
}
header .header-mega-menu .menu li.mega-menu ul.sub-menu li {
    width: 100%;
}
header .header-mega-menu .menu li.mega-menu .sub-menu li .fl-row-content-wrap {
    margin-top: 0px!important;
}
.flooring_Row .fl-col {
    position: relative;
}
.flooring_Row .fl-col p.uabb-infobox-title {
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    margin: 10px 0 0;
}
.flooring_Row .fl-col .uabb-image-content img {
   width: 400px;
}

/* mega menu end */

/* Breadcrums open */
div#breadcrumbs {
    position: absolute;
    display: none;
}
/* Breadcrums end */

/* vendor dynamic image code */

.ourVendorsDynamic .fl-rich-text p{
    margin: 0;
    padding: 0;
}
ul.vendor_brand_image_list {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}
ul.vendor_brand_image_list li {
    width: 33.33%;
    margin: 20px 0;
    text-align: center;
}
.landingPage-VendorsRow ul.vendor_brand_image_list li {
    width: 20%;
}

/* vendor dynamic image code */

/* FIND A RETAILER */

/* search open*/
div#sfnlocator-wrap {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding-right: 30px;
}
#wpsl-result-list {
    width: 100% !important;
}
.location-icon-main .find_wrap p.location-name, .location-icon-main .find_wrap .bb_location_name {
    font-size: 16px;
    font-family: Jost, sans-serif;
    font-weight: 400;
    color: #DB2A34 !important;
    line-height: 20px;
    margin: 0 0;
    letter-spacing: 0.6px;
}
.location-icon-main .fl-icon-text {
    padding-left: 5px;
}
.location-icon-main .find_wrap span.location-add, .location-icon-main .find_wrap .bb_loc_address {
    font-size: 12px;
    line-height: 18px;
    color: #484848;
    letter-spacing: 0.45px;
}
.wpsl-search{
    background: transparent !important;
    padding-top: 0;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform input {
    border: 1px solid #000;
    border-radius: 3px;
    width: 100%;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform input:focus {
    border: 1px solid #DB2A34;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-input {
    float: none;
    width: 100%;
    display: block;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-input div {
    float: none;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-input div label{
    width: 100%;
    display: block;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 5px;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform  .wpsl-select-wrap {
    width: 70%;
    display: unset;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-select-wrap div#wpsl-radius {
    width: 95%;
    display: block;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-select-wrap div#wpsl-radius .wpsl-dropdown {
    width: 100%;
    border: 1px solid #474747;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-select-wrap div#wpsl-radius label{
    display: none;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform .wpsl-search-btn-wrap {
    width: 30%;
    display: unset;
    margin: 0;
}
.wpsl-search div#wpsl-search-wrap form#locsearchform input#wpsl-search-btn {
    background: #0C141D;
    color: #fff;
    border-radius: 3px;
    display: block;
    margin: 0;
    padding: 6px 10px;
    text-transform: uppercase !important;
    letter-spacing: 0.75px;
    height: 45px;
}
div#wpsl-results{
    margin-top: 10px;
}
#wpsl-search-wrap div label{
   color: #000;
}
/* search end */
.homepage_retailer_location .wpsl-search {
    display: none;
}
.homepage_locationStore #wpsl-stores, .homepage_locationStore #wpsl-direction-details, .homepage_locationStore #wpsl-gmap, .homepage_locationStore #wpsl-stores{
    height: 600px !important;
}
div#wpsl-stores .wpsl-store-location .location_title_wrapper {
    color: #000;
}
div#wpsl-stores .wpsl-store-location .your_store {
    font-size: 14px;
    font-family: Jost, sans-serif;
    font-weight: 400;
    color: #000;
}
div#wpsl-stores .wpsl-store-location h3{
    margin: 0;
    width: 70%;
}
div#wpsl-stores li.mystore_location .wpsl-store-location h3 a {
    color: #db2a34;
}
div#wpsl-stores .wpsl-store-location h3 a {
    font-size: 16px;
    font-family: Jost, sans-serif;
    font-weight: 400;
    color: #000;
    line-height: 18px;
    display: block;
}

div#wpsl-stores .wpsl-store-location span {
    color: #000;
    font-size: 14px;
    line-height: 18px;  
}
div#wpsl-stores .wpsl-store-location span.wpsl-street {
   line-height: 18px;
   margin-bottom: -5px;
}
div#wpsl-stores .wpsl-store-location span.distance_unit {
    letter-spacing: 0.75px;
    font-size: 14px;
    line-height: 17px;
    font-family: Jost, sans-serif;
    font-weight: 400;
    float: right;
    margin: -18px 0 0 !important;
}

div#wpsl-stores .wpsl-store-location p.wpsl-contact-details {
    display: flex;
}
div#wpsl-stores .wpsl-store-location p.wpsl-contact-details span{
    margin-right: 10px;
    color: #000;
}
div#wpsl-stores .wpsl-store-location p.wpsl-contact-details span a{
    color: #000;
}
div#wpsl-stores .wpsl-store-location p.wpsl-contact-details a.site_loc_url{
    color:#db2a34 ;
}
div#wpsl-stores li.mystore_location .wpsl-store-location .Coupon-wrapper {
    flex-direction: row-reverse;
    justify-content: flex-end;
}
li.mystore_location {
    background: #f5f5f5;
}
div#wpsl-stores .wpsl-store-location .Coupon-wrapper {
    display: flex;
}
div#wpsl-stores .wpsl-store-location .Coupon-wrapper .fl-button {
    padding: 10px;
    font-size: 16px;
    font-family: Jost, sans-serif;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
    background: #000;
    outline: none;
    border: 0;
    margin: 0 10px 10px 0;
    border-radius: 4px;
}
div#wpsl-stores .wpsl-store-location .Coupon-wrapper .fl-button:hover {
    background: #db2a34;
}
div#wpsl-stores .wpsl-store-location .Coupon-wrapper a.makemystore.fl-button {
    background: #db2a34;
}
div#wpsl-stores .wpsl-store-location .Coupon-wrapper  .visit_store.redbutton a.fl-button {
    background: #DB2A34;
}

div#wpsl-stores .wpsl-store-location .Coupon-wrapper a.makemystore.fl-button:hover {
    background: #000;
}
div#wpsl-stores .wpsl-store-location {
    position: relative;
}
.location_title_wrapper h3 a {
    font-size: 14px;
    outline: none;
}
.store_map_wrap #wpsl-gmap .wpsl-info-window, .store_map_wrap .wpsl-gmap-canvas .wpsl-info-window {
    max-width: 350px;
}
.wpsl-info-window.custominfo_wrapper .store_thumb{
    float: left;
    width: 40%;
}
.wpsl-info-window.custominfo_wrapper .info_wrapper {
    float: right;
    width: 60%;
}

#wpsl-gmap img, .wpsl-gmap-canvas img{
    width: 100%;
}
.wpsl-info-window .info_wrapper .location_title_wrapper {
    padding-top: 10px;
}
.wpsl-info-window .info_wrapper .location_title_wrapper h3{
    margin: 0;
}
.wpsl-info-window .info_wrapper .infomap_div {
    display: flex;
}
.wpsl-info-window .info_wrapper .infomap_div p{
   margin: 0;
}

.wpsl-info-window .info_wrapper .location_title_wrapper h3, .wpsl-info-window .info_wrapper .location_title_wrapper h3 a {
    font-size: 12px;
    line-height: 14px;
    color: #DB2A34;
    font-family: Jost, sans-serif;
    font-weight: 400;
    display: block;
    margin: 0 0 5px;
}
.wpsl-info-window i.ua-icon.ua-icon-location-pin {
    color: #DB2A34;
    font-size: 24px;
}
.wpsl-info-window span, .wpsl-more-info-listings span{
    font-size: 9px;
    line-height: 15px;
}
.wpsl-info-window span.store_msg {
    margin-top: 10px;
}
#wpsl-wrap .wpsl-info-window p{
    font-size: 10px;
}
#wpsl-gmap .gm-style-iw.gm-style-iw-c .wpsl-info-window {
    max-width: 350px !important;
}
button.gm-ui-hover-effect {
    top: 0px !important;
    right: 0px !important;
}

#home_page_storelocator .wpsl-search.wpsl-clearfix {
    display: none;
}
.custominfo_wrapper a.wpsl-directions {
    display: none;
}
span.wpsl-country {
    display: none;
}
.product-color-variationPlp.plp_slide_wrap {
    display: none;
}
.checked {
  color: orange;
}
#wpsl-base-gmap_0 {
    height: 708px !important;
    width: 100%;
}
.find-a-retailer-row div#wpsl-gmap {
    height: 660px !important;
}
.find-a-retailer-row #wpsl-stores {
    height: 460px !important;
}

/* FIND A RETAILER  */

/* Store location - Find a retailer page open  */
.header-banner-image-bg {
    position: relative;
}
.header-banner-image-bg .header-banner-image::after{
    border-radius: inherit;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0,0,0,0.35);
}
.header-banner-image {
    background: url(https://nationalflooringalliance-stg.mm-dev.agency/wp-content/uploads/2022/02/AdobeStock_200518677.jpeg) no-repeat 0 0;
    padding: 180px 0;
    background-size: cover;
}
.header-sale-image {
    margin-bottom: 0;
}
.storelocation .container{
    max-width: 1300px;
}
.cta-wrapperMain {
    background-color: #f5f5f5;
    border-style: solid;
    border-width: 0;
    background-clip: border-box;
    border-color: rgba(66,66,66,0.23);
    border-bottom-width: 1px;
    padding: 40px 0;
    margin-bottom: 60px;
}
.zipcode-wrapper {
    display: flex;
    align-items: center;
}
.zipcode-wrapper span.fl-icon {
    margin-right: 10px;
    font-size: 30px;
}
.zipcode-wrapper a.usercurent {
    margin-left: 10px;
}
.cta-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cta-wrapper .cta-buttons .fl-button-group-buttons {
    display: flex;
}
.cta-wrapper .cta-buttons .fl-button-group-buttons a.fl-button{
    text-decoration: none;
    padding: 12px 24px;
    text-decoration: none;
    text-shadow: none;
    margin-left: 10px;
}
img.locationIMG {
    max-width: 200px;
    display: block;
}
span.city {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.45px;
    text-transform: uppercase;
    display: block;
    margin: 0;
    color: #484848;
    margin-top: 20px;
}

span.nfa-address {
    font-family: Jost, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 33px;
    color: #7f7070;
    margin-bottom: 20px;
    display: block;
}

.storeloc-content .entry-title.sfnstoretitle {
    line-height: 20px;
    margin: 10px 0 0;
    font-family: Jost, sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
}
.storeloc-content span.autorized {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.45px;
    text-transform: uppercase;
    display: block;
    margin: 0;
    color: #484848;
}
.storeloc-content span.siteUrl a {
    color: #DB2A34;
    font-size: 14px;
    line-height: 20px;
    display: block;
    letter-spacing: 0.53px;
    margin: 20px 0;
}
.storeloc-content .store_reviews {
    margin: 20px 0;
}
.storeloc-content  span.phNo {
    font-size: 12px;
    line-height: 18px;
    display: block;
    color: #0C141D;
    font-weight: 600;
    margin: 0;
}
.storeloc-content span.phNoDis a{
    font-size: 16px;
    line-height: 20px;
    color: #DB2A34;
    letter-spacing: 0.65px;
    font-weight: 600;
    margin: 10px 0 40px;
    display: block;
}
.storeloc-content .storehours span {
    font-family: Jost, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 33px;
    color: #7f7070;
    text-transform: uppercase;
}
.storeloc-content table.wpsl-opening-hours th, .storeloc-content table.wpsl-opening-hours td {
    font-family: Jost, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 33px;
    color: #7f7070;
    text-transform: uppercase;
}
.storeloc-content table.wpsl-opening-hours td.today_hour {
    color: #7f7070 !important;
    font-weight: 600 !important;
    font-style: italic;
}
.storeloc-content table.wpsl-opening-hours td.today_hour span, .storeloc-content table.wpsl-opening-hours td.today_hour time {
    display: inline-block;
    margin-right: 10px;
}
.storeloc-content .store_links_main {
    padding: 20px 0 40px;
}
.storeloc-content .store_links_main span.getLable {
    font-size: 12px;
    line-height: 18px;
    display: block;
    color: #0C141D;
    font-weight: 600;
    margin: 0 ;
}
.storeloc-content .store_links_main ul {
    list-style: none;
    margin: 0;
    padding: 20px 0 0;
    display: flex;
    align-items: center;
}
.storeloc-content .store_links_main ul li a {
    font-size: 14px;
    line-height: 20px;
    color: #DB2A34;
    letter-spacing: 0.45px;
    text-decoration: underline;
    margin-right: 20px;
    text-transform: uppercase;
    font-family: Jost, sans-serif;

}
.storeloc-content .store_links_main ul li a:hover{
    color: #020050;
}
.storeloc-content .store_links_main ul li:last-child a{
    margin-right: 0;
}
.storeloc-content .store_links_main ul li a.button {
    background: none;
    padding: 0;
    outline: none;
    border: 0;
    color: #DB2A34;
}
.storeloc-content .store_links_main ul li a.button:hover{
    color: #000;
}
.storeloc-map .mapcon_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 20px;
}
.storeloc-map .mapcon_main .mapcon_left_flex {
    display: flex;
    align-items: center;
}
.storeloc-map .mapcon_main .mapcon_left_flex i.ua-icon.ua-icon-location-pin {
    color: #DB2A34;
    font-size: 30px;
    line-height: 30px;
    margin-right: 5px;
}
.storeloc-map .mapcon_main  h2.entry-title.sfnstoretitle {
    font-family: Jost, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.60px;
    color: #DB2A34;
    margin: 0;
}
.storeloc-map .mapcon_main span.add {
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: #484848;
}
.storeloc-content a.fl-button {
    width: 150px;

}
.storeloc-map .mapcon_main .mapcon_right a, .storeloc-content a.fl-button {
    padding: 10px;
    font-size: 16px;
    font-family: Jost, sans-serif;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
    outline: none;
    border: 0;
    background: #db2a34;
    margin: 0 10px 10px 0;
    border-radius: 3px;
    padding: 10px 25px;
    display: block;
    text-decoration: none !important;
    text-align: center;
}
.storeloc-map .mapcon_main .mapcon_right a:hover {
    background: #000;
    text-decoration: none;
}

.bottomsection {
    text-align: center;
    text-align: center;
    margin-bottom: 50px;
	margin-top: 50px;
}

.bottomsection h2 {
    color: #000;
    font-size: 45px;
    font-family: Jost, sans-serif;
    letter-spacing: 0;
    line-height: 75px;
    margin-bottom: 25px;
}
.bottomsection p {
    color: #000000;
    font-family: Jost, sans-serif;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 40px;
    text-align: left;
}

/* Store location - Find a retailer page end */

/* PLP page customized changes */
.facet-wrap {
    display: block !important;
}
.product-plp-grid.product-grid.swatch a.fl-button.plp_box_btn {
    display: none !important;
}

.facetwp-facet.facetwp-type-dropdown select.facetwp-dropdown {
    border-radius: 4px;
    height: 69px;
    border-color: transparent;
    font-size: 14px;
    line-height: 20px;
    color: #0C141D;
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.38);
    padding: 10px 20px;
}
.facetwp-facet.facetwp-facet-search.facetwp-type-search span.facetwp-input-wrap input.facetwp-search{
    border-radius: 4px;
    height: 69px;
    border-color: transparent;
    font-size: 14px;
    line-height: 20px;
    color: #0C141D;
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.38);
    padding: 10px 50px 10px 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 400px !important;
}
.facetwp-facet.facetwp-facet-search.facetwp-type-search span.facetwp-input-wrap {
    width: 100%;
}
.facetwp-facet.facetwp-facet-search.facetwp-type-search span.facetwp-input-wrap  .facetwp-icon {
    right: 10px;
}
.facet_filters .facet-wrap>strong {
    padding-bottom: 3px;
    border-bottom: 2px solid #000;
}
.facet-wrap strong {
    font-size: 14px;
    line-height: 20px;
    color: #0C141D;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Jost, sans-serif;
    margin-bottom: 10px;
    display: block;
}
.searchfacet .facet-wrap{
    display: block;
}
.product-plp-grid .product-row .fl-post-grid-image {
    position: relative;
}
.product-plp-grid .product-row .fl-post-grid-image div#roomvo {
    position: absolute;
    bottom: 0;
    z-index: 10;
    right: 5px;
    bottom: 10px;
    display: inline-block;
    width: auto!important;
    height: auto!important;
    padding: 10px !important;   
}

.product-plp-grid .product-row .fl-post-grid-image div#roomvo a.roomvo-stimr{
    height: 56px;
    background-color: #141414!important;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18px;
    transition: all .6s;
    color: #fff;
    padding: 12px 25px;
    cursor: pointer;
    text-decoration: none;
    font-family: Jost, sans-serif;

}
.product-plp-grid .product-row .fl-post-grid-image #roomvo a.roomvo-stimr {
    width: 56px;
    padding: 0;
    border-radius: 100%;
}
.product-plp-grid .product-row .fl-post-grid-image #roomvo a.roomvo-stimr:hover {
    width: 200px;
    border-radius: 30px;
    padding: 10px;
    background: #DB2A34 !important;
}
.product-plp-grid .product-row .fl-post-grid-image div#roomvo a.roomvo-stimr i.fa.fa-camera {
    font-size: 25px;
}
.product-plp-grid .product-row .fl-post-grid-image div#roomvo a.roomvo-stimr span.room_span {
    display: none;
    color: #fff;
}
.product-plp-grid .product-row .fl-post-grid-image div#roomvo a.roomvo-stimr:hover span.room_span {
    display: block;
}
.product-plp-grid .product-row .fl-post-grid-image div#roomvo a.roomvo-stimr:hover i.fa.fa-camera {
    margin-right: 10px;
}
.product-plp-grid .product-row .camera-image {
    position: absolute;
    bottom: 25px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px 0;
    transition: width 1s;
    width: 55px;
}
.product-plp-grid .product-row .camera-image a.roomvo_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-plp-grid .product-row .camera-image p.view_room {
    display: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: Jost;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    margin: 0 0 0 10px;
}
.product-plp-grid .product-row .camera-image img {
    border-radius: 100%;
    width: 55px;
    height: 55px;
    background: #000;
}
.product-plp-grid .product-row .camera-image:hover{
    background: #DB2A34;
    padding: 5px 20px;
    border-radius: 30px;
    width: 210px;
}
.product-plp-grid .product-row .camera-image:hover  p.view_room{
    display: block;
}
.product-plp-grid .product-row .bb_special, .product-plp-grid .product-row .bb_offer {
    position: absolute;
    top: 30px;
    left: -15px;
}
.product-plp-grid .product-row .bb_offer {
    display: none;
}
.product-plp-grid .product-row .bb_special, .product-plp-grid .product-row .bb_offer {
    border-radius: 4px;
    background-color: #DB2A34;
    box-shadow: 0 2px 33px 0 rgb(0 0 0 / 50%);
    padding: 10px 20px;
}
.product-plp-grid .product-row .bb_special p, .product-plp-grid .product-row .bb_offer p {
    color: #FFFFFE;
    font-family: "Luckiest Guy";
    font-size: 20px;
    letter-spacing: 0.75px;
    line-height: 35px;
    margin: 0;
}


.product-plp-grid .product-row .product-grid.btn-grey h4 .collection_text{
    color: #db2a34 !important;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    font-family: Jost, sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 0 0 10px;
}
.product-plp-grid .product-row .product-grid.btn-grey h4 .color_text{
    font-size: 30px;
    line-height: 30px;
    font-family: Jost, sans-serif;
    font-weight: 400;
    color: #0F0F0F;
    margin: 0 0 20px;
    display: block;
}
.product-plp-grid .product-row .product-grid.btn-grey h4 .brand_text {
    text-transform: uppercase;
    color: #484848;
    font-size: 14px;
    letter-spacing: 1.21px;
    line-height: 20px;
    font-family: Jost, sans-serif;
    font-weight: 500;
}
.product-plp-grid .product-row .product-grid.btn-grey .product-variations1 h5 {
    color: #020050;
    font-family: Jost, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: 20px;
}
.facetwp-facet.facetwp-facet-load_more.facetwp-type-pager button.facetwp-load-more {
    height: 54px;
    width: 262px;
    border-radius: 4px;
    background-color: #DB2A34;
    box-shadow: 0 2px 33px 0 rgb(0 0 0 / 50%);
    color: #FFFFFF;
    font-family: Jost, sans-serif;
    font-size: 20px;
    letter-spacing: 0.75px;
    line-height: 24px;
    border: 0;
    text-transform: uppercase;
}
.facetwp-facet.facetwp-facet-load_more.facetwp-type-pager button.facetwp-load-more:hover {
    background-color: #000;
}

/* PLP page customized changes */

/* PDP page changes open */
.container .row .product-detail-layout-6{
    max-width: 1200px!important;
    width: 100%;
    margin: 0 auto!important;
    padding-top: 350px !important;
}
.pdp_header_banner {
    height: 400px;
    width: 100%;
    position: relative;
}
.pdp_header_banner::after {
    border-radius: inherit;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0,0,0,0.35);
}
.pdp_header_banner img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}
.product-detail-layout-6 .product-box h1{
    color: #0C141D;
    font-family: Jost, sans-serif;
    font-size: 28px;
    letter-spacing: 2.42px;
    line-height: 41px;
}
.product-detail-layout-6 .product-box h2{
    color: #0F0F0F;
    font-family: Jost, sans-serif;
    font-size: 55px !important;
    letter-spacing: 0;
    line-height: 75px;
}
.product-detail-layout-6 .product-box .row:first-child .col-md-6:first-child {
    width: 100%!important;
}
.product-detail-layout-6 .product-box .post_typetext p {
    color: #DB2A34;
    font-family: Jost, sans-serif;
    font-size: 14px;
    letter-spacing: 1.21px;
    line-height: 20px;
    text-transform: uppercase;
}
.product-detail-layout-6 .product-box  .product_description {
    font-family: Jost, sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 26px;
    padding: 20px 0 0;
}
.product-detail-layout-6 .dual-button a{
    color: #FFFFFF;
    font-family: Jost, sans-serif;
    font-size: 16px;
    letter-spacing: 0.6px;
    line-height: 19px;
    border-radius: 4px;
    background: #000 !important;
    text-decoration: none;
}
.product-detail-layout-6 .dual-button a:hover{
    background: #DB2A34 !important;
}
a.button.alt.custompdpbtn.getcoupon-btn{
    color: #FFFFFF;
    font-family: Jost, sans-serif;
    font-size: 16px;
    letter-spacing: 0.6px;
    line-height: 19px;
    border-radius: 4px;
    background: #DB2A34;
    text-decoration: none;
}
a.button.alt.custompdpbtn.getcoupon-btn:hover{
    background: #000;
}
.product-detail-layout-6 .product-attributes>h3{
    color: #0C141D;
    font-family: Jost, sans-serif;
    font-size: 35px;
    letter-spacing: 1.42px;
    line-height: 44px;
}
div#product-attributes-wrap {
    background-color: rgba(246,243,241,0.57);
    padding: 20px 0;
    margin: 90px 0 30px;
}
.product-detail-layout-6 .product-attributes tr th{
    color: #484848;
    font-family: Jost, sans-serif;
    font-size: 20px;
    letter-spacing: 1.73px;
    line-height: 30px;
    text-align: right;
    font-weight: 500;
    text-transform: uppercase;
    vertical-align: middle;
}
.product-detail-layout-6 .product-attributes tr td{
    color: #0C141D;
    font-family: Jost, sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.73px;
    line-height: 30px;
    vertical-align: middle;
}

.related_pro {
    color: #0C141D;
    font-family: Jost, sans-serif;
    font-size: 35px;
    letter-spacing: 1.42px;
    line-height: 44px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.container .row .product-detail-layout-6 #product-images-holder .bb_quickship {
    border-radius: 4px;
    background-color: #DB2A34;
    box-shadow: 0 2px 33px 0 rgb(0 0 0 / 50%);
    padding: 10px 20px;
    position: absolute;
    top: 30px;
    left: -15px;
    height: auto !important;
    min-height: auto !important;
    width: auto !important;
    min-width: auto;
}
.container .row .product-detail-layout-6 #product-images-holder .bb_quickship p {
    color: #FFFFFE;
    font-family: "Luckiest Guy";
    font-size: 20px;
    letter-spacing: 0.75px;
    line-height: 35px;
    margin: 0;
    display: block;
    text-transform: uppercase;
}
.container .row .product-detail-layout-6 #product-images-holder .bb_quickship p:hover {
    text-decoration: none;
}
#product-images-holder {
    position: relative;
    overflow: unset;
}
.product-detail-layout-6 .imagesHolder #roomvo{
    padding: 10px !important;
    bottom: 24px;
}
.product-detail-layout-6 .imagesHolder #roomvo a{
    width: 56px;
    padding: 0;
    border-radius: 100%;
    cursor: pointer;
}
.product-detail-layout-6 .imagesHolder #roomvo a:hover{
    width: 200px;
    border-radius: 30px;
    padding: 10px;
    background: #DB2A34 !important;
}
.product-detail-layout-6 .imagesHolder #roomvo a span.room_span {
    display: none;
    color: #fff ;
}
.product-detail-layout-6 .imagesHolder #roomvo a:hover span.room_span{
    display: block;
}

.product-detail-layout-6 .imagesHolder #roomvo a i.fa-camera{
    margin-right: 0 !important;
}
.product-detail-layout-6 .imagesHolder #roomvo a:hover i.fa-camera{
    margin-right: 10px !important;
    /* background: #000;
    border-radius: 100%;
    padding: 10px !important; */
}

.product-swatch .img-responsive .popup-overlay-link{
    border: 6px solid #FFFFFF;
    box-shadow: 0 16px 74px 0 rgb(0 0 0 / 41%);
}
.product-detail-layout-6 .slide.selected-slide:after{
    left: 0;
    right: 0;
    margin: 0 auto;
}
/* PDP page changes  end*/

/* Flyer location open Css*/
div#ajaxstorelisting::-webkit-scrollbar {
    width: 0.7em !important;
}
div#ajaxstorelisting::-webkit-scrollbar-thumb {
    background-color: #DB2A34 !important;
}
div#ajaxstorelisting::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%) !important;
}

div#ajaxstorelisting {
    background: #fff;
    padding: 20px !important;
    /* margin-top: 18px !important; */
    position: absolute;
    top: 63px;
    left: 0;
    right: 20px;
    overflow-y: scroll;
    max-height: 360px;
    display: none;
    z-index: 99;
}
.header-location .location_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 52px;
}
.location_div .bb_location_name {
    font-size: 16px;
    letter-spacing: 0.6px;
    line-height: 20px;
    color: #fff;    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    display: block;
    max-width: 230px;
	text-transform: uppercase;
    }

.location_div .bb_loc_address {
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0.45px;
    line-height: 18px;
}
.location-section {
    display: flex;
    align-items: start;
    margin-bottom: 10px;
}
.location-section .makemystore_header {
    margin-right: 10px;
    margin-top: 3px;
    position: relative;
}
.location-section .makemystore_header input {
    visibility: hidden;
    position: absolute;
	top: 5px;
    left: 5.5px;
}

.activebb.location-section .makemystore_header input+label:before{
	background-color: #DB2A34 !important;
}
.location-section .makemystore_header input+label:before {
    content: '';
    border: 1px solid #979797;
    background-color: #F5F5F5;
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 10px;
	 margin-top: 10px;
}
.location-section .location-info-section a.location-name {
    font-size: 14px;
    color: #000 !important;
	font-weight: 500;
}
.location-section .location-info-section p.store-add {
    font-size: 11px;
    line-height: 15px;
    color: #ABABAB !important;
	font-weight: 600;
}
.location-section .location-info-section p.store-phone a.phone_bb {
    color: #DB2A34;
    font-size: 12px;
    letter-spacing: 0.45px;
    line-height: 18px;
}
.header-location {
    position: relative;
    cursor: pointer;
}
/* .header-location .fl-module-content.fl-node-content {
    background: #bd9900;
	padding: 7px 20px 0;
	margin-left: 0px !important;
} */
i.ua-icon.ua-icon-map-pin, i.ua-icon.ua-icon-map-pin * {
    color: #fff !important;
}
.header-location .changeThelocation {
    display: block;
    text-align: right;
}
.header-location .changeThelocation a{
    border-bottom: 1px solid #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
/* Flyer location css */

/* Forms open */
.gfield_captcha_input_container.math_medium input {
    width: auto;
}
/* Forms end */
body.blog .fl-archive.container > .row {
    padding-top: 250px;
}
.header-banner .fl-col .fl-col-content.fl-node-content {
    margin-top: 100px;
}


@media (max-width: 1367px){
    div#wpsl-stores .wpsl-store-location .Coupon-wrapper .fl-button {
        font-size: 12px;
    }
}

@media (min-width:769px) and  (max-width:1024px){
    .find-a-retailer-row div#wpsl-gmap, .homepage_locationStore #wpsl-gmap {
        width: 50%;
    }
    .facetwp-facet.facetwp-facet-search.facetwp-type-search span.facetwp-input-wrap input.facetwp-search{
        font-size: 12px;
    }
}
@media (max-width:1024px){
	.locationCol .fl-col-content{
		padding: 0px 20px!important;	
	}
    .fl-page-header-logo-col ~ .fl-page-nav-col .fl-page-nav-wrap,
    .fl-page-nav-right.fl-page-header-fixed, .fl-page-header-fixed{
        display: none !important;
    }
    #responsive-menu-container div#responsive-menu-additional-content,
    #responsive-menu-container div#responsive-menu-search-box{
        padding: 5px 5%;
    }
    #responsive-menu-additional-content .storename li .phone a:before{
        margin-right: 5px !important;
    }
    div#product-attributes-wrap {
        margin: 90px 0 30px;
    }
}
@media (max-width:768px){
	
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0;
    }
	.fl-row-content-wrap {
		text-align: center;
	}
	.fl-fade-in.fl-animated p,
	.uabb-gf-style .gform_wrapper .gform_footer{
		text-align: center !important;
	}
    .fl-page-header-logo{
        text-align: left;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 80%;
    }
    .footer-menu .fl-col-small{
        width: 25% !important;
        float: left;
        clear: none;
    }
    ul#menu-copyright-bar-menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .copyright-sec-row .fl-col-small{
        width: 100%;
        text-align: center;
    }
    .copyright-sec-row .fl-col-small:first-child .fl-module-html .fl-module-content.fl-node-content{
        margin-top: 20px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap .fl-icon-text-link {
        font-size: 14px;
    }
    footer .fl-col-small .fl-module-icon .fl-module-content.fl-node-content{
        margin: 0px 10px;
    } 
    footer .fl-icon-text{
        padding-left: 0px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap span{
        padding-right: 15px;
    }
    /* footer .fl-col-small .fl-module-icon .fl-icon-wrap i{
        font-size: 25px;
    } */
    .d-block .fl-row-fixed-width  .fl-col-group-equal-height{
        display: block;
    }
    .fl-builder-content .fl-button i.fl-button-icon-after {
        margin-left: -8px;
    }
    .w-100{
        width: 100%;
    }
    .max-width-issue{
        max-width: 400px !important;
        margin: 0 auto !important;
        float: none;
    }
    .max-width-issue > .fl-col-content.fl-node-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .reversed .fl-col-group-responsive-reversed{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 0 0 0;
    }
    button#responsive-menu-button {
        top: 60px;
    }
    .uabb-photo__gallery-filters li{
        display: block;
    }
    .gform_wrapper .gfield_time_hour i{
        margin-top: 0% !important;
    }
    .rc-anchor-normal .rc-anchor-pt {
        right: 32px !important;
    }
    .rc-anchor-normal {
        width: 300px !important;
    }
    footer .storename{
        padding-left: 0 !important;
    }
    /* .fl-module-map .fl-map:not(.fl-map-auto-responsive-disabled){
        position: static !important;
    } */
	.max-width-issue > .fl-col-content.fl-node-content {
        padding-left: 0px;
        padding-right: 0px;
    }
    #wpsl-gmap{
        float: none;
        width: 100%;
        margin: 0 auto 20px;
    }
    div#wpsl-stores .wpsl-store-location{
        text-align: left;
    }
    div#sfnlocator-wrap{
        padding-right: 0;
    }
    .find-a-retailer-row div#wpsl-gmap, .homepage_locationStore #wpsl-gmap, #wpsl-base-gmap_0 {
        height: 350px !important;
    }
    .homepage_locationStore #wpsl-gmap, #wpsl-base-gmap_0 {
        height: 350px !important;
    }
    #wpsl-gmap {
        float: none;
        width: 100%;
        margin: 0 auto 20px;
    }
    ul.vendor_brand_image_list li {
        width: 50%;
        margin: 5px 0;
    }
    .landingPage-VendorsRow ul.vendor_brand_image_list li{
        width: 25%;
    }
}
@media (max-width:767px){
    .footer-menu .fl-col-small{
        width: 100% !important;
    }

    .gform_wrapper.gf_browser_safari .gfield_time_ampm select {
        max-width: 10rem!important;
        width: calc(4rem + 20px) !important;
    }
}


@media screen and (max-width: 700px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 50px;
    }
}

@media screen and (max-width: 630px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 70px;
    }
}

@media screen and (max-width: 600px){

    ul#menu-copyright-bar-menu{
        flex-direction: column;
    }
    div.fl-module-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
        height: 335px;
        margin-bottom: 20px;
    }
    .fl-builder-content div.our-services{
        width: 100% !important;
    }
    .fl-builder-content div.our-services .fl-col-content {
        border-right-width: 0px;
        border-bottom-width: 1px;
    }
    #wpsl-search-wrap .wpsl-dropdown {
        width: 98% !important;
        padding: 7px 12px;
    }
}
@media screen and (max-width: 480px){
    ul.vendor_brand_image_list  {
        flex-direction: column;
    }
    ul.vendor_brand_image_list li, .landingPage-VendorsRow ul.vendor_brand_image_list li {
        width: 100%;
    }
    div#wpsl-stores .wpsl-store-location .Coupon-wrapper .fl-button {
        font-size: 10px;
    }
}

@media screen and (max-width: 410px){
    button#responsive-menu-button.responsive-menu-accessible {
        width: 35px;
        height: 35px;
    }
    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 11px;
    }
}
@media screen and (max-width: 378px){

    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 10px;
    }
}
@media screen and (max-width: 374px){
    button#responsive-menu-button.responsive-menu-accessible{
        top: 10px;
    }
    .fl-page-bar{
       display: none;
    }
}